<div>
  <h2 id="page-heading" data-cy="EmpleadoHeading">
    <fa-icon icon="user-tie"></fa-icon>
    <span jhiTranslate="concesionarioNewApp.empleado.home.title">Empleados</span>

    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-primary mr-2" (click)="getEmpleadosActivoInactivo(true, true)">
        <fa-icon icon="user-check"></fa-icon>
        Ver Activos
      </button>
      <button type="button" class="btn btn-primary mr-2" (click)="getEmpleadosActivoInactivo(true, false)">
        <fa-icon icon="users-slash"></fa-icon>
        Ver Desactivados
      </button>
      <button class="btn btn-info mr-2" (click)="getEmpleadosActivoInactivo(false, false)" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Ver Todos</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-empleado"
        [routerLink]="['/empleado/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="concesionarioNewApp.empleado.home.createLabel"> Create a new Empleado </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="empleados?.length === 0">
    <span jhiTranslate="concesionarioNewApp.empleado.home.notFound">No empleados found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="empleados && empleados.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">

          <th scope="col" jhiSortBy="dni">
            <span jhiTranslate="concesionarioNewApp.empleado.dni">Dni</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="nombre">
            <span jhiTranslate="concesionarioNewApp.empleado.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="activo">
            <span jhiTranslate="concesionarioNewApp.empleado.activo">Activo</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="numeroVenta">
            <span jhiTranslate="concesionarioNewApp.empleado.numeroVenta">Numero Venta</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleados; trackBy: trackId" data-cy="entityTable">

          <td>{{ empleado.dni }}</td>
          <td>{{ empleado.nombre }}</td>
          <td>
            <ng-container [ngSwitch]="empleado.activo" >
              <fa-icon *ngSwitchCase="true" icon = "check"></fa-icon>
              <fa-icon *ngSwitchCase="false"icon = "times"></fa-icon>
            </ng-container>
          </td>
          <td>{{ empleado.numeroVenta }}</td>
          <td class="text-right">
            <div class="btn-group">


              <button
                type="submit"
                [routerLink]="['/empleado', empleado.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(empleado)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="empleados && empleados.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
