<div>
  <h2 id="page-heading" data-cy="VentaHeading">
    <fa-icon icon="cash-register"></fa-icon>
    <span jhiTranslate="concesionarioNewApp.venta.home.title">Ventas</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="concesionarioNewApp.venta.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-venta"
        [routerLink]="['/venta/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="concesionarioNewApp.venta.home.createLabel"> Create a new Venta </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="ventas?.length === 0">
    <span jhiTranslate="concesionarioNewApp.venta.home.notFound">No ventas found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="ventas && ventas.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">

          <th scope="col" jhiSortBy="fecha">
            <span jhiTranslate="concesionarioNewApp.venta.fecha">Fecha</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="tipoPago">
            <span jhiTranslate="concesionarioNewApp.venta.tipoPago">Tipo Pago</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="total">
            <span jhiTranslate="concesionarioNewApp.venta.total">Total</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="empleado.nombre">
            <span jhiTranslate="concesionarioNewApp.venta.empleado">Empleado</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cliente.nombre">
            <span jhiTranslate="concesionarioNewApp.venta.cliente">Cliente</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="coche.marca">
            <span jhiTranslate="concesionarioNewApp.venta.coche">Coche</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let venta of ventas; trackBy: trackId" data-cy="entityTable">
          <!-- <td>
            <a [routerLink]="['/venta', venta.id, 'view']">{{ venta.id }}</a>
          </td> -->
          <td>{{ venta.fecha | formatMediumDate }}</td>
          <td>{{ venta.tipoPago }}</td>
          <td>{{ venta.total }}</td>
          <td>
            <div *ngIf="venta.empleado">
              <a [routerLink]="['/empleado', venta.empleado?.id, 'view']">{{ venta.empleado?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="venta.cliente">
              <a [routerLink]="['/cliente', venta.cliente?.id, 'view']">{{ venta.cliente?.nombre }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="venta.coche">
              <a [routerLink]="['/coche', venta.coche?.id, 'view']">{{ venta.coche?.marca }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <!-- <button type="submit" [routerLink]="['/venta', venta.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button> -->

              <button type="submit" [routerLink]="['/venta', venta.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(venta)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ventas && ventas.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
