<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="coche">
      <h2 data-cy="cocheDetailsHeading"><span jhiTranslate="concesionarioNewApp.coche.detail.title">Coche</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ coche.id }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.marca">Marca</span></dt>
        <dd>
          <span>{{ coche.marca }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.modelo">Modelo</span></dt>
        <dd>
          <span>{{ coche.modelo }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.color">Color</span></dt>
        <dd>
          <span>{{ coche.color }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.numeroSerie">Numero Serie</span></dt>
        <dd>
          <span>{{ coche.numeroSerie }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.precio">Precio</span></dt>
        <dd>
          <span>{{ coche.precio }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.transpuesto">Transpuesto</span></dt>
        <dd>
          <span>{{ coche.transpuesto }}</span>
        </dd>
        <dt><span jhiTranslate="concesionarioNewApp.coche.venta">Venta</span></dt>
        <dd>
          <div *ngIf="coche.venta">
            <a [routerLink]="['/venta', coche.venta?.id, 'view']">{{ coche.venta?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/coche', coche.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
